#offer-popup {
    .popup-content {
        padding: 44px 50px 59px 70px;
        box-sizing: padding-box;
        align-items: center;
        justify-content: center;
        min-width: 0;
        min-height: 0;
        width: 772px;
        height: auto;
        border-radius: 25px;
        .popup-title {
            justify-items: center;
            align-self: center;
            min-width: auto;
            min-height: auto;
            width: auto;
            max-width: 700px;

            position: relative;
            margin-bottom: 15px;
        }

        .footer-inputs {
            margin-top: 30px;
        }

        .popup-textarea {
            background-color: $very-light-gray;
            width: 300px;
            height: 120px;
            border-radius: 15px;
            padding: 5px 10px;
            border: 0px;
            color: $brown;
            @extend %regular3;
            transition: .05s linear;

            &:active, &:hover, &:focus  {
                outline: none;
                @extend %regular3;
                color: $brown;   
                transition: .05s linear;
                border: 0px;
                font-weight: 400;
            }
    
            &::-webkit-input-placeholder { 
                color: rgba($color: gray, $alpha: .4);
                @extend %regular3;
                transition: .05s linear;
            }
        }

        #files {
            visibility: hidden;
        }
        
        #upload-btn {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0);
            border: none;

            img {
                
            }
        }

        #upload-txt {
            padding: 10px;
            color: $brown;
            @extend %regular3;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            cursor: pointer;
        }

        #image {
            width: 60px;
            height: 60px;
            border-radius: 8px;
            border: none;
        }
    }
}

.popup-feedback {
    position: relative;
    margin-top: 39px;

    .feedback-inputs {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        position: relative;
        margin-top: 10px;

        .popup-upload {
            max-width: 300px;
        }
    }

    .footer-descriptions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        position: relative;
        margin-top: 28px;
    
        p {
            @extend %regular3;
            color: rgba($color: $dark-brown, $alpha: .3);
            line-height: 16px;
            font-size: 16px;
    
            max-width: 300px;
            a {
                @extend %regular3;
                color: rgba($color: $dark-brown, $alpha: .3);
                font-size: 16px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
        .btn{
            position: relative;
            width: 223px;
            margin-right: 25px;
        }
    }
}

.output-div {
    display: flex;
    justify-content: flex-start;
    
    .x-upload {
        display: none;
        position: absolute;
        z-index: 90;
        width: 30px;
        height: 30px;
    
        margin-top: -50px;
        margin-left: 15px;
    }

    #list {
        display: flex;
        flex-direction: row;

        span{
            pointer-events: auto;
            height: 60px;
            width: 60px; 
            border-radius: 8px; 
            position: relative; 
            z-index: 80;
            .x-upload {
                display: none;
            }
        }
        span:hover{
            cursor: pointer;
            background: #744037;
            .x-upload {
                display: block;
            }   
        }
    }
}

.popup-upload {
    button {
       img {
            position: absolute;
            margin: -16px;
       }
    }
}

.output-div {
    span:not(:first-child) {
        position: relative;
        margin-left: 20px;
    }
}

@media screen and (max-width:777px) { 
    #offer-popup {
    .popup-content {
        padding: 20px 20px 59px 20px;
        min-width: 100vw;
        border-radius:25px;
        .footer-inputs {
            flex-direction: column;
            align-items: center;
            input {
                min-width: 70vw;
            }
        }
        
        .popup-feedback {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .feedback-inputs {
                flex-direction: column;
                align-items: center;
                .popup-upload {
                    position: relative;
                    margin-top: 30px;
                    margin-left: 10px;
                }
            }
        }

        .footer-descriptions {
            flex-direction: column;
            align-items: center;
            .btn {
                margin-top: 30px;
            }
        }
    }
}
.feedback-title {
    display: flex;
    align-self: center;
    position: relative;
    justify-self: center;

    margin-left: 40%;
}

}

#upload-btn {
    img {
        position: absolute;
        margin-top: -3px;
    }
}