.background-wrapper {
    background-image: url(../media/background-general.svg);
    background-repeat:no-repeat;
    background-position: center center;
}

.second-block {
    min-height: 50vh;
}

.title1 {
    margin-top: 60px;
}


.services {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21px 0px;

    max-width: 1170px;

    position: relative;
    margin-top: 45px;

    &-card {
        height: 100%;
        width: 271px;
        min-height: 373px;
        // border: 2px solid black;
        display: flex;
        justify-content: flex-start ;
        flex-direction: column;
    }
}

.img-container {
    width: 270px;
    height: 270px;
    background-color: $gray;
    border-radius: 25px;
    overflow: hidden;

    transition: .3s linear;

    &:hover {
        background-color: $brown;
        transition: .3s linear;
        .card-2-circles {
            fill: $light-brown;
            stroke: $light-brown;
            transition: .3s linear;
        }
        
        .bottom-circle {
            fill: url(#paint0_radial_172_353) #fff;
            width:270;
            height:215;
            cx:135; cy:197; r:147;
            transition: .3s linear;
        }

        .images-container {
            .images-blur {
                position: absolute;
                z-index: 20;
                display: block;
                transition: .3s linear;
            }
        }
    }
}

    .images-container {
        position: absolute;
        margin-top: 43px;
        margin-left: 20px;
        width: 230px;
        height: 270px;
        overflow: hidden;
        .images {
            transition: .3s linear;
            background-repeat: no-repeat;
        }
        .images-main {
            position: absolute;
            z-index: 20;
            background-image: url(../media/spitz.png);
            background-size: 100%;
            width: 100%;
            height: 100%;
            z-index: 20;
            transition: .3s linear;
        }
        .images-blur {
            position: absolute;
            z-index: 10;
            background-image: url(../media/spitz-blur.png);
            display: none;
            background-size: 103%;
            width: 100%;
            height: 100%;
            transition: .3s linear;
        }
    }

    .card-txt-container {
        display: flex;
        justify-content: flex-start;
        align-items: space-around;
        flex-direction: column;

        padding: 16px 20px 27px;
        text-align: left;

         .card-title {
            @extend %regular1;
            color: $dark-brown;
            display: block;
        }
        .card-description {
            position: relative;
            margin-top: 10px;

            display: flex;
            justify-content: space-between;

            .card-description-txt {
                @extend %extrabold2;
                color: $dark-brown;
            }

            .card-arrow {

            }
        }
    }