// цвета
$brown: #744037;
$dark-brown: #240401;
$light-brown: #C3A78E;
$white: #F6F6F8;
$gray: #D2D2DB;

// заготовки шрифтов

%extrabold1 {
    font-family: "Circe-Extrabold";
    line-height: 50.4px;
    font-size: 42px;
}

%extrabold2 {
    font-family: "Circe-Extrabold";
    line-height: 28.8px;
    font-size: 24px;
}

%extrabold3 {
    font-family: "Circe-Extrabold";
    line-height: 24px;
    font-size: 20px;
}

%extrabold4 {
    font-family: "Circe-Extrabold";
    line-height: 19.2px;
    font-size: 16px;
}

%regular1 {
    font-family: "Circe-Regular";
    line-height: 28.8px;
    font-size: 24px;
}

%regular2 {
    font-family: "Circe-Regular";
    line-height: 24px;
    font-size: 20px;
}

%regular3 {
    font-family: "Circe-Regular";
    line-height: 19.2px;
    font-size: 16px;
}


