// цвета
$brown: #744037;
$dark-brown: #240401;
$light-brown: #C3A78E;
$gray: #D2D2DB;
$dark-gray: #C3C3D0;
$light-gray: #ECECF9;
$very-light-gray: #F6F6F8;


//расчет адаптивного размера
$index: calc(1vw + 1vh);
// font-size: calc($index * 1.8);

// заготовки шрифтов
%extrabold1 {
    font-family: "Circe-Extrabold";
    line-height: 50.4px;
    font-size: 42px;
}

%extrabold2 {
    font-family: "Circe-Extrabold";
    line-height: 28.8px;
    font-size: 24px;
}

%extrabold3 {
    font-family: "Circe-Extrabold";
    line-height: 24px;
    font-size: 20px;
}

%extrabold4 {
    font-family: "Circe-Extrabold";
    line-height: 19.2px;
    font-size: 16px;
}

%regular1 {
    font-family: "Circe-Regular";
    line-height: 28.8px;
    font-size: 24px;
    font-weight: 400;
}

%regular2 {
    font-family: "Circe-Regular";
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

%regular3 {
    font-family: "Circe-Regular";
    line-height: 22.2px;
    font-size: 16px;
    font-weight: 400;
}


